vscode/

# paper server

server*/paper*.jar
server*/eula.txt

server*/cache/
server*/libraries/
server*/logs/
server*/versions/

server*/world*/
server*/ops.json
server*/usercache.json
server*/banned-ips.json
server*/banned-players.json
server*/version_history.json
server*/whitelist.json

# paper server plugin

server*/plugins/*.jar

server*/plugins/GriefPreventionData/PlayerData/
server*/plugins/UserLogin/playerData.yml
server*/plugins/UserLogin/locations.yml
server*/plugins/SkinsRestorer/(README)*
server*/plugins/GriefPreventionData/_schemaVersion
server*/plugins/update/

server*/plugins/GriefPreventionData/bannedWords.txt
# server*/plugins/SkinsRestorer/languages/

server*/plugins/HuskSync/config.yml
server*/plugins/SkinsRestorer/Archive/
