vscode/

# paper server

paper*.jar
eula.txt

cache/
libraries/
logs/
versions/

world*/
ops.json
usercache.json
banned-ips.json
banned-players.json
version_history.json
whitelist.json

# more paper server

server*/paper*.jar
server*/eula.txt

server*/cache/
server*/libraries/
server*/logs/
server*/versions/

server*/world*/
server*/ops.json
server*/usercache.json
server*/banned-ips.json
server*/banned-players.json
server*/version_history.json
server*/whitelist.json

